* { /* Base Resources & Properties */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Dosis", sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6));
	background: -o-linear-gradient(#fff, #e6e6e6);
	background: linear-gradient(#fff, #e6e6e6);
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}

#main-body { /* Main Body Stuff */
	margin: 10%;
	text-align: center;
}
#main-body h2 {
	margin-bottom: 50px;
}
#main-body p#secret {
	color: transparent;
	font-style: italic;
}

#main-body img#bob { /* Bob */
	bottom: 0px;
	height: 100px;
	position: absolute;
	right: 50px;
	text-align: center;
	-webkit-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
	width: 100px;
}
#main-body img#bob:hover {
	height: 90px;
	right: 47.5px;
	width: 105px;
}
#main-body img#bob:active {
	height: 80px;
	right: 45px;
	width: 110px;
}